@model IEnumerable<RCDT.Models.TaskModel>

@{
    ViewData["Title"] = "Researcher Dashboard";
}
<section>
<div class="row">
  <div class="col-md-4"></div>
  <div style="text-align:center"><h5><b>Task List</b></h5></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="manage-table">
      <table id="taskTable" class="table table-hover" style="width: 0px; margin-right: 10px; float:left">
        <thead>
          <tr>
            <th scope="col">Task Session ID</th>
            <th scope="col">Task Type</th>
            <th scope="col"># Participants</th>
            <th scope="col"># Confederates</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var user in Model)
          {
            <tr>
                <td class="task">@Html.DisplayFor(modelItem => user.TaskSessionID)</td>
                <td class="task">@Html.DisplayFor(modelItem => user.TaskType)</td>
                <td class="task">@Html.DisplayFor(modelItem => user.participantNumber)</td>
                <td class="task">@Html.DisplayFor(modelItem => user.confederateNumber)</td>
                <td class="button" style="width:200px">
                    <a  class="btn btn-info" style="width:50px" asp-controller="Chessboard" asp-action="Index" asp-route-id="@user.TaskSessionID"><font size="-5">Enter</font></a>

                    <a  class="btn btn-danger" style="width:50px" asp-action="ViewTask" asp-route-id="@user.TaskSessionID"><font size="-5">View</font></a>

                    <a  class="btn btn-outline-info" style="width:50px" asp-action="EditTask" asp-route-id="@user.TaskSessionID"><font size="-5">Edit</font></a>

                    <a  class="btn btn-outline-danger" style="width:50px" asp-action="DeleteTask" asp-route-id="@user.TaskSessionID"><font size="-5">Delete</font></a>

                    <a  class="btn btn-outline-danger" style="width:50px" asp-action="ViewBoardMoves" asp-route-id="@user.TaskSessionID"><font size="-5">Move Log</font></a>
                </td>
            </tr>
          }
      </table>
    </div>
  </div>
</div>
</section>
